$main-bg-color: white
$side-bg-color: white
$accent-color: #009c07
$font-color: black
$icon-color: black

$main-dark-bg-color: #383838
$side-dark-bg-color: #4d4d4d
$accent-dark-color: white
$font-dark-color: lightgray
$icon-dark-color: white


:root
  --accent-color: #{$accent-color}
  --side-bg-color: #{$side-bg-color}
  --main-bg-color: #{$main-bg-color}
  --font-color: #{$font-color}
  --icon-color: #{$icon-color}

[data-theme="dark"]
  --accent-color: #{$accent-dark-color}
  --side-bg-color: #{$side-dark-bg-color}
  --main-bg-color: #{$main-dark-bg-color}
  --font-color: #{$font-dark-color}
  --icon-color: #{$icon-dark-color}

*
  margin: 0px
  padding: 0px
  box-sizing: border-box    
  font-family: 'Open Sans', sans-serif
.App
  background-color: var(--main-bg-color)
.header
  margin: 0 0 2em 0
  background-color: var(--main-bg-color)
.nav-links 
  display: flex
  justify-content: space-around
  margin: auto
  width: 80%
  padding: 0
  a
    list-style: none
    text-decoration: none
.center-background
  position: absolute
  background-color: var(--side-bg-color)
  transition: background-color 1s
  border-radius: 5px
  z-index: 0
  height: 47%
  width: 95%
  top: 22.5%
  position: absolute
  left: 0
  right: 0
  margin-left: auto 
  margin-right: auto 
  display: block
  
#quote-text
  color: var(--accent-color)
.footer
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 4vh
  background-color: var(--main-bg-color)
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 5
.footer-links
  display: flex
  justify-content: space-around
  width: 50%
  a
    text-decoration: none
    letter-spacing: 3px
    font-weight: bold
    font-size: 30px
    i
      color: var(--icon-color)
      transition: color 1s
  li
    list-style: none  
.component-container
  background-color: var(--main-bg-color)

.center.main
  display: flex
  height: 100%
  text-align: center
  margin-bottom: 5em
  margin-top: 3em
  align-items: center
  width: 100%
  flex-direction: row
  z-index: -2
  .center
    width:50%
    z-index: 1
.chapter
  margin-top: 2em
  display: flex
  flex-direction: column
  width: 80%
  margin: auto
.about
  width: 50%
  text-align: center
.modes
  height: 2em
  div
    position: absolute
    top: 5px
    left: 5px
    button
      flex-direction: column
      display: flex
      margin: 1em

.lighting-mode-button
  font-size: 2em
  background: none
  color: var(--icon-color)
  border: none
  padding: 0
  cursor: pointer
  outline: inherit
.paragraph
  height: 20%
  margin-bottom: 1em
  h1, h2, h3
    color: var(--accent-color)
    transition: color 1s
  p, h4
    font-size: 1.25em
    color: var(--font-color)
    transition: color 1s

.underline
  border-top: 3px solid
  border-color: var(--accent-color)
  border-radius: 5px
  width: 60%
  margin-left: auto
  margin-right: auto
  height: 10px
  display: block
.mid
  width: 50%
.small
  width: 40%

.text
  display: flex
  flex-direction: column
  justify-content: center
  position: relative
  img
    height: 100%
    width: 100%
.cv.item:nth-child(2)
    margin-top: 6em
.container.cv
  background-color: var(--main-bg-color)
.cv
  justify-content: space-around
  .text
    width: 100%
  .title
    position: absolute
    top: 25px
    text-align: center
    left: 0
    right: 0
    color: (--icon-color)
    
  .item
    display: flex
    width: 80%
    margin: 1em auto
    align-items: center
    text-align: center
    div
      i, h3
        color: var(--accent-color)

  .description
    width: 76%
    margin: auto
    color: var(--font-color)
  .item:last-of-type
    margin-bottom: 8vh
  div
    i
      margin-bottom: 0.5em
    
.item-subtitle
  transition: color 1s
  color: var(--font-color)
  font-size: 1.5em
  text-align: center
  margin-bottom: 1em
  a
    color: var(--font-color)
    text-decoration: underline
    cursor: pointer
.flippy-container
  width: 50%
  margin: auto
  cursor: pointer
.card
  height: 100%
  width: 100%
  margin: auto
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
.small-text
  width: 15%
  text-align: center
  font-style: italic
h4
  font-size: 20px
h1
  font-size: 40px
h3
  font-size: 20px
h2
  font-size: 30px
  color: var(--accent-color)
.profile-picture
  width: 30em
  margin: auto
  z-index: 1
  img
    width: 80%
    display: block
    margin: auto
    border-radius: 25px
    border: 2px solid
    border-color: var(--accent-color)
.gallery-container
  display: flex
  flex-direction: column
.gallery-title  
  z-index: 1
  color: var(--accent-color)
  transition: color 1s
  margin-bottom: 1em
  font-size: 2em
.category-items
  z-index: 1
  text-align: center
  flex-direction: column
  flex-wrap: wrap
  display: flex
  .gallery-background
    position: absolute
    background-color: var(--side-bg-color)
    transition: background-color 1s
    border-radius: 25px
    z-index: -1
    height: 10%
    top: 50%
    width: 10%
    position: absolute
    left: 0
    right: 0
    margin-left: auto 
    margin-right: auto 
    display: block
    transition: width 1s, top 1s, height 1s
  .item-open
    width: 80%
    top: 0%
    height: 100%


.gallery-item
  margin: 2em auto 2em auto
  position: relative
  width: 100%
  z-index: 2
.image-container
  z-index: 2
  cursor: pointer
  width: 50%
  margin-left: auto
  margin-right: auto

.gallery-image
  object-fit: cover
  width: 600px
  height: 350px
  border-radius: 25px
  border: 2px solid
  border-color: var(--accent-color)

.category:last-of-type
    margin-bottom: 4vh
.category-title
  transition: color 1s
  color: var(--accent-color)
  margin: 2em 0
  font-size: 40px
  text-align: center
.item
  display: flex
  flex-direction: column
.categoryList
  display: flex
  justify-content: space-around
  .categoryItem
    list-style: none
    margin: 5em 0 0 0
    width: 30%
    position: relative
    justify-content: center
    display: flex
    .checkbox
      font-size: 4em
    input
      opacity: 0
      position: absolute
      height: 100%
      width: 30%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      transition: width 1.25s
      cursor: pointer
      &:checked ~ .checkmark
        border: 2px solid
        width: 75%
      &:hover ~ .checkmark
        width: 75%
    .checkmark
      border: 2px dotted
      border-color: var(--accent-color)
      transition: border-color 1s
      position: absolute
      display: block
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      height: 100%
      width: 60%
      z-index: 0
      border-radius: 10px
      transition: width 1.25s, height 1.25s
label
  text-align: center
  display: block
  color: var(--accent-color)
  transition: color 1s

@keyframes fade-in
  from
    opacity: 0
    transform: translateX(250px)
  to
    opacity: 1
    transform: translateX(0px)

@keyframes fade-left
  from
    opacity: 0
    transform: translateX(-200px)
  to
    opacity: 1
    transform: translateX(0px)
@keyframes fade-left
  from
    opacity: 0
    transform: translateX(-200px)
  to
    opacity: 1
    transform: translateX(0px)
@keyframes opacity-out
  from
    opacity: 0
  to
    opacity: 1
.opacity-out
  animation-name: opacity-out
  animation-duration: 1.25s
.opacity-in
  animation-name: fade-left
  animation-duration: 1.25s

@keyframes fade-in
  from
    opacity: 0
    transform: translateX(250px)
  to
    opacity: 1
    transform: translateX(0px)
@keyframes fade-up
  from
    opacity: 0
    transform: translateY(150px)
  to
    opacity: 1

    transform: translateY(0px)
.fade-up
  animation-name: fade-up
  animation-duration: 1s

.fade-in
  animation-name: fade-in
  animation-duration: 1s
  overflow-x: hidden
.item-circle
  display: block
  width: 60px
  height: 60px
  border-radius: 50%
  margin: 20px
  position: relative
  cursor: pointer
  flex-shrink: 0
  &:hover
    .header-text
      background-color: none
      opacity: 1
      transition: all 0.5s
      transform: translate(-50%, 160%)
      
.circle-icon
  position: absolute
  top: 50%
  left: 50%
  font-size: 25px
  transform: translate(-50%, -50%)
  color: white
.outline 
  position: absolute
  top: -20px
  left: -20px
  right: -20px
  bottom: -20px
  border: 8px solid
  border-color: var(--font-color)
  border-radius: 50%
.header-text
  position: absolute
  opacity: 0
  top: 50%
  left: 50%
  font-size: 25px
  transform: translate(-50%, 150%)
  color: var(--icon-color)
  transition: all 0.8s

$layout-large: 1200px
$layout-medium: 750px
$layout-small: 600px
$layout-mobile: 404px
$layout-smiley: 300px

@media (max-width: $layout-large)
  body
    margin: 0
  .category-items
    flex-direction: column
  .gallery-image
    width: 300px
    height: 300px
  .center-background
    top: 200px
    height: 100%
    width: 70%
  .item-subtitle
    font-size: 1.25em
    
  .categoryList
    display: flex
    justify-content: space-around
    .categoryItem
      list-style: none
      margin: 2em 0 0 0
      width: 60%
      position: relative
      justify-content: center
      display: flex
      .checkbox
        font-size: 2em
  .paragraph
    font-size: 0.80em
    margin-bottom: 2em
  .profile-picture
    height: 20%
  .center.main
    margin-top: 2em
    flex-direction: column
    .center
      width: 75%
  .cv.text
    width: 100%
  .cv.title
    h2
      font-size: 2.5em
  #quote-text
    font-size: 2em
    width: 80%
    margin: auto
  .paragraph
    p
      font-size: 1.5em
      color: var(--font-color)
  .categoryList
    flex-direction: column
    margin-right: auto
    margin-left: auto
    width: 66%
    .categoryItem
      width: 100%
  
@media (max-width: $layout-medium)
  .paragraph
    p
      font-size: 1.35em
    h2
      font-size: 2em
      margin: 0 1em 0 1em
    h4
      font-size: 1.5em
      margin: 0 1em 0 1em
  .categoryList
    margin-right: auto
    margin-left: auto
    width: 66%
    flex-direction: column
    .categoryItem
      width: 100
  .underline 
    width: 60%
@media (max-width: $layout-small)
  .category
    min-height: 1000px
  .profile-picture
    width: 75%
  .gallery-item
    h4
      font-size: 1.5em
  .item-subtitle
      font-size: 1em
      a
        font-size: 0.75em
  .image-container
    div
      .gallery-image
        width: 200px
        height: 200px
  .category-title
    font-size: 1.75em
  .lighting-mode-button
    font-size: 1.5em
  .gallery-background
    opacity: 0
@media (max-width: $layout-mobile)
  .lighting-mode-button
    font-size: 1em
  .paragraph
    p
      font-size: 1.35em
    h2
      font-size: 1.5em
      margin: 0 1em 0 1em
    h4
      font-size: 1.0em
      margin: 0 1em 0 1em
    h1
      font-size: 2em
  .image-container
    div
      .gallery-image
        width: 100px
        height: 100px
  .item-subtitle
    font-size: 0.75em
    a
      font-size: 0.65em
  .gallery-item
    h4
      font-size: 1.25em
  .input-text
    font-size: 0.65em
  .cv.item:nth-child(2)
    margin-top: 10em
  .underline
    width: 80%
@media (max-width: $layout-smiley)
  *
    display: none