:root {
  --accent-color: #009c07;
  --side-bg-color: white;
  --main-bg-color: white;
  --font-color: black;
}

[data-theme=dark] {
  --accent-color: #009c07;
  --side-bg-color: #4d4d4d;
  --main-bg-color: #383838;
  --font-color: darkgray;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  background-color: var(--main-bg-color);
}

.header {
  margin: 0 0 2em 0;
  background-color: var(--main-bg-color);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 80%;
  padding: 0;
}
.nav-links a {
  list-style: none;
  text-decoration: none;
}

.center-background {
  position: absolute;
  background-color: var(--side-bg-color);
  border-radius: 5px;
  z-index: 0;
  height: 60%;
  width: 90%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  background-color: var(--main-bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.footer-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 30px;
}
.footer-links a i {
  color: var(--font-color);
}
.footer-links li {
  list-style: none;
}

.component-container {
  background-color: var(--main-bg-color);
}

.center.main {
  display: flex;
  height: 100%;
  text-align: center;
  margin-bottom: 5em;
  margin-top: 3em;
  align-items: center;
  width: 100%;
  flex-direction: row;
  z-index: -2;
}
.center.main .center {
  width: 50%;
  z-index: 1;
}

.chapter {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.about {
  width: 50%;
  text-align: center;
}

.modes {
  height: 2em;
}
.modes div {
  position: absolute;
  top: 5px;
  left: 5px;
}
.modes div button {
  flex-direction: column;
  display: flex;
  margin: 1em;
}

.lighting-mode-button {
  font-size: 2em;
  background: none;
  color: var(--font-color);
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.paragraph {
  height: 20%;
  margin-bottom: 1em;
}
.paragraph * {
  color: var(--font-color);
}
.paragraph p {
  font-size: 1.25em;
}

.underline {
  border-top: 3px solid;
  border-color: var(--accent-color);
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  display: block;
}

.mid {
  width: 50%;
}

.small {
  width: 40%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.text img {
  height: 100%;
  width: 100%;
}

.cv.item:nth-child(2) {
  margin-top: 6em;
}

.container.cv {
  background-color: var(--main-bg-color);
}

.cv {
  justify-content: space-around;
  color: var(--font-color);
}
.cv .text {
  width: 100%;
}
.cv .title {
  position: absolute;
  top: 25px;
  text-align: center;
  left: 10%;
  right: 10%;
}
.cv .item {
  display: flex;
  width: 80%;
  margin: 1em auto;
  align-items: center;
  text-align: center;
}
.cv .description {
  width: 76%;
  margin: auto;
}
.cv .item:last-of-type {
  margin-bottom: 8vh;
}
.cv .icon {
  margin: 0 1.5em;
}

.item-subtitle {
  color: var(--font-color);
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}
.item-subtitle a {
  color: var(--font-color);
  text-decoration: underline;
  cursor: pointer;
}

.flippy-container {
  width: 50%;
  margin: auto;
  cursor: pointer;
}

.card {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-text {
  width: 15%;
  text-align: center;
  font-style: italic;
}

h4 {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

.profile-picture {
  width: 30em;
  margin: auto;
  z-index: 1;
}
.profile-picture img {
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: 2px solid;
  border-color: var(--font-color);
}

.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-title {
  color: var(--font-color);
  margin-bottom: 1em;
  font-size: 2em;
}

.category-items {
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.gallery-item {
  margin: 2em auto 2em auto;
  position: relative;
  width: 100%;
}

.image-container {
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 600px;
  height: 350px;
  border-radius: 25px;
  border: 2px solid;
  border-color: var(--font-color);
}

.category:last-of-type {
  margin-bottom: 4vh;
}

.category-title {
  color: var(--font-color);
  margin: 2em 0;
  font-size: 40px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
}

.categoryList {
  display: flex;
  justify-content: space-around;
}
.categoryList .categoryItem {
  list-style: none;
  margin: 5em 0 0 0;
  width: 30%;
  position: relative;
  justify-content: center;
  display: flex;
}
.categoryList .categoryItem .checkbox {
  font-size: 4em;
}
.categoryList .categoryItem input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 1.25s;
  cursor: pointer;
}
.categoryList .categoryItem input:checked ~ .checkmark {
  border: 2px solid black;
  border-color: var(--font-color);
}
.categoryList .categoryItem input:hover ~ .checkmark {
  width: 70%;
}
.categoryList .categoryItem .checkmark {
  border: 2px dotted;
  border-color: var(--font-color);
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 60%;
  z-index: 0;
  border-radius: 25px;
  transition: width 1.25s, height 1.25s;
}

label {
  text-align: center;
  display: block;
  color: var(--font-color);
}

line {
  color: var(--font-color);
  fill: yellow;
  stroke-width: 5px;
}

ellipse {
  stroke-width: 5px;
  fill: yellow;
  stroke: black;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.opacity-in {
  -webkit-animation-name: fade-left;
          animation-name: fade-left;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fade-up {
  -webkit-animation-name: fade-up;
          animation-name: fade-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  overflow-x: hidden;
}

.item-circle {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.item-circle:hover .header-text {
  opacity: 1;
  transition: all 0.5s;
  transform: translate(-50%, 160%);
}

.circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  color: white;
}

.outline {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 8px solid;
  border-color: var(--font-color);
  border-radius: 50%;
}

.header-text {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, 150%);
  color: var(--font-color);
  background-color: var(--main-bg-color);
  transition: all 0.8s;
}

@media (max-width: 1200px) {
  body {
    margin: 0;
  }
  .category-items {
    flex-direction: column;
  }
  .gallery-image {
    width: 300px;
    height: 300px;
  }
  .center-background {
    top: 200px;
    height: 100%;
    width: 70%;
  }
  .item-subtitle {
    font-size: 1.25em;
  }
  .categoryList {
    display: flex;
    justify-content: space-around;
  }
  .categoryList .categoryItem {
    list-style: none;
    margin: 2em 0 0 0;
    width: 60%;
    position: relative;
    justify-content: center;
    display: flex;
  }
  .categoryList .categoryItem .checkbox {
    font-size: 2em;
  }
  .paragraph {
    font-size: 0.8em;
    margin-bottom: 2em;
  }
  .profile-picture {
    height: 20%;
  }
  .center.main {
    margin-top: 2em;
    flex-direction: column;
  }
  .center.main .center {
    width: 75%;
  }
  .cv.text {
    width: 100%;
  }
  .cv.title h2 {
    font-size: 2.5em;
  }
  #quote-text {
    display: none;
  }
  .paragraph p {
    font-size: 1.5em;
    color: var(--font-color);
  }
  .categoryList {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 66%;
  }
  .categoryList .categoryItem {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .paragraph p {
    font-size: 1.35em;
  }
  .paragraph h2 {
    font-size: 2em;
    margin: 0 1em 0 1em;
  }
  .paragraph h4 {
    font-size: 1.5em;
    margin: 0 1em 0 1em;
  }
  .categoryList {
    margin-right: auto;
    margin-left: auto;
    width: 66%;
    flex-direction: column;
  }
  .categoryList .categoryItem {
    width: 100;
  }
  .underline {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .profile-picture {
    width: 75%;
  }
  .gallery-item h4 {
    font-size: 1.5em;
  }
  .item-subtitle {
    font-size: 1em;
  }
  .item-subtitle a {
    font-size: 0.75em;
  }
  .image-container div .gallery-image {
    width: 200px;
    height: 200px;
  }
  .category-title {
    font-size: 1.75em;
  }
  .lighting-mode-button {
    font-size: 1.5em;
  }
}
@media (max-width: 404px) {
  .lighting-mode-button {
    font-size: 1em;
  }
  .paragraph p {
    font-size: 1.35em;
  }
  .paragraph h2 {
    font-size: 1.5em;
    margin: 0 1em 0 1em;
  }
  .paragraph h4 {
    font-size: 1em;
    margin: 0 1em 0 1em;
  }
  .paragraph h1 {
    font-size: 2em;
  }
  .image-container div .gallery-image {
    width: 100px;
    height: 100px;
  }
  .item-subtitle {
    font-size: 0.75em;
  }
  .item-subtitle a {
    font-size: 0.65em;
  }
  .gallery-item h4 {
    font-size: 1.25em;
  }
  .input-text {
    font-size: 0.65em;
  }
  .cv.item:nth-child(2) {
    margin-top: 10em;
  }
  .underline {
    width: 80%;
  }
}
@media (max-width: 300px) {
  * {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */