$mobile: 768px


*
  margin: 0px
  padding: 0px
  box-sizing: border-box    
  font-family: 'Open Sans', sans-serif
nav
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 8vh
  background-color: gray
.logo
  color: white
  text-transform: uppercase
  letter-spacing: 5px
  font-size: 20px
.nav-links 
  display: flex
  justify-content: space-around
  width: 50%
  a
    text-decoration: none
    letter-spacing: 3px
    font-weight: bold
    font-size: 14px
  li
    list-style: none
.footer
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 4vh
  background-color: gray
  position: fixed
  bottom: 0
  left: 0
  right: 0
footer
  margin-top: auto
  
.footer-links
  display: flex
  justify-content: space-around
  width: 50%
  a
    text-decoration: none
    letter-spacing: 3px
    font-weight: bold
    font-size: 14px
  li
    list-style: none
.center
  justify-content: space-around
  display: flex
  height: 100%
.center.main
    align-items: center
    background: lightblue
.text
  display: flex
  flex-direction: column
  justify-content: center
  position: relative
  img
    height: 100%
    width: 100%
.cv.item:nth-child(2)
    margin-top: 6em
.cv
  justify-content: space-around
  .title
    position: absolute
    top: 25px
    text-align: center
    left: 10%
    right: 10%
  .item
    display: flex
    align-items: center
  .item:last-of-type
    margin-bottom: 8vh
  .icon
    margin: 0 1.5em
    
.small-text
  width: 15%
  text-align: center
  font-style: italic
h4
  font-size: 20px
h1
  font-size: 40px
h3
  font-size: 20px
h2
.profile-picture
  height: 100%
  width: 300px
  position: relative
  img
    position: absolute
    bottom: 0
.gallery-container
  display: flex
  justify-content: space-around
  margin: 0 10em
  flex-direction: column
  .category:last-of-type
    margin-bottom: 8vh
.item
  display: flex
  flex-direction: column
.category-title
  text-align: center
.category-items
  display: flex
  flex-direction: row
  text-align: center
.gallery.item

.categoryList
  display: flex
  justify-content: space-around
  .categoryItem
    list-style: none
    padding: 5em 0
